/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
*{
  box-sizing: border-box;
}

table{
  border-collapse: collapse;
}
td{
  border-style: solid;
  border-color: rgb(10,156,208);
}

body{
  font-family: helvetica;
}
header{
  padding: 10px;
  padding-bottom: 25px;
  background-color: rgb(249,131,51);
}

h1, h2, h3{
  color: rgb(10,156,208);
}
nav{
  padding: 10px;

}
nav a{
  border-radius: 5px;
  border: 1px;
  border-color: lightgray;
  border-style: solid;
  text-decoration: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;

}

a{
  color: rgb(10,156,208)
}

li{
  margin-top: 10px;
  font-weight: bold;
}

section{
  border-bottom: 5px;
  border-color: lightgray;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-bottom: 20px;
}

thead tr{
  color: white;
  background-color: rgb(10,156,208);
}

.name{
  background-color: rgb(249,131,51);
  padding: 15px;
  color: white;
  margin-bottom: 20px;
  border-radius: 5px;
}

.city_container{
  margin-bottom: 20px;
}

form{
  background-color: lightgray;
  padding: 10px;
}

textarea{
  border-color: rgb(10,156,208);
  margin-bottom: 20px;
}

#submit_button{
  padding: 10px;
  background-color: rgb(10,156,208);
  border-radius: 5px;
  border: 0px;
  color: white;
  font-family: helvetica;
}

td img{
  padding: 10px;
}

select{

}
